
@{
    ViewBag.Title = "Kết quả khảo sát theo yêu cầu - TDMU";
    Layout = "~/Areas/CTDT/Views/Shared/_CTDTLayout.cshtml";
}

<div class="main-content">
    <div class="card">
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Kết quả khảo sát</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="checkdoituong-tab" data-toggle="tab" href="#checkdoituong" role="tab" aria-controls="checkdoituong" aria-selected="true">Chọn đáp viên thống kê</a>
                </li>
            </ul>
            <div class="tab-content m-t-15" id="myTabContent">
                <!-- Thống kê kết quả khảo sát -->
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="page-header no-gutters">
                        <h2 class="text-uppercase">Kết quả khảo sát theo yêu cầu</h2>
                        <hr />
                        <fieldset class="border rounded-3 p-3">
                            <legend class="float-none w-auto px-3">Chức năng</legend>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label class="form-label" style="font-size: 16px; font-weight: bold; color: #333;">Lọc theo năm học</label>
                                    <select class="form-control" id="year">
                                        @foreach (var item in ViewBag.Year)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label" style="font-size: 16px; font-weight: bold; color: #333;">Lọc theo phiếu khảo sát</label>
                                    <select class="form-control select2" id="surveyid">
                                        <!--List Phiếu Khảo Sát-->
                                    </select>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-12 d-flex justify-content-between">
                                    <button class="btn btn-primary" id="filterData">Lọc dữ liệu</button>
                                    <button class="btn btn-success" id="exportExcel">Xuất Excel</button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <!--Modal-->
                    <div class="modal fade bd-example-modal-lg">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <i class="anticon anticon-close"></i>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h5 class="text-uppercase text-center">Danh sách người thực hiện khảo sát</h5>
                                    <div>
                                        <label for="maLopFilter">Lọc theo lớp:</label>
                                        <select id="maLopFilter" class="form-control">
                                            <option value="">Tất cả</option>
                                        </select>
                                    </div>
                                    <hr />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger m-r-5" data-dismiss="modal">Đóng</button>
                                    <button class="btn btn-primary m-r-5" id="save_doi_tuong">Lưu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end Modal-->
                </div>
                <!-- End Thống kê -->
                <!--Chọn đáp viên khảo sát-->
                <div class="tab-pane fade" id="checkdoituong" role="tabpanel" aria-labelledby="checkdoituong-tab">
                    <div class="page-header no-gutters">
                        <h2 class="text-uppercase">chọn đáp viên cần thống kê</h2>
                        <hr />
                        <fieldset class="border rounded-3 p-3">
                            <legend class="float-none w-auto px-3">Chức năng</legend>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label class="form-label" style="font-size: 16px; font-weight: bold; color: #333;">Lọc theo năm học</label>
                                    <select class="form-control" id="year_dap_vien_select">
                                        @foreach (var item in ViewBag.Year)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>

                            </div>
                            <hr />
                            @*<div class="row">
                                    <div class="col-12 d-flex justify-content-between">
                                        <button class="btn btn-primary" id="filterData">Lọc dữ liệu</button>
                                        <button class="btn btn-success" id="exportExcel">Xuất Excel</button>
                                    </div>
                                </div>*@
                        </fieldset>
                    </div>
                    <div class="card" id="body" style="display:none">
                        <div class="accordion" id="accordion-default" >
                            <div class="card" id="show_title_collapsible">
                                <!--Load Data Chọn đáp viên-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--End chọn đáp viên khảo sát-->
            </div>
        </div>
    </div>
</div>

@section scriptsCTDT {
    <script src="@Url.Content("~/Areas/CTDT/Scripts/ThongKeKetQuaKhaoSatTheoYeuCau.js")"></script>
}
