@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Quản Lý Danh Sách Cán Bộ Viên Chức</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <span class="breadcrumb-item active">Danh Sách Cán Bộ Viên Chức</span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="page-header no-gutters">
                <h2 class="text-uppercase">Kết quả khảo sát</h2>
                <hr />
                <fieldset class="border rounded-3 p-3">
                    <legend class="float-none w-auto px-3">Chức năng</legend>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label" style="font-size: 16px;font-weight: bold;color: #333">Tìm theo đơn vị</label>
                            <select class="form-control" id="FiterDonvi">
                                <option value="">Tất cả</option>
                                @foreach (var item in ViewBag.DonviList)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" style="font-size: 16px;font-weight: bold;color: #333">Tìm theo chức vụ</label>
                            <select class="form-control" id="FilterChucvu">
                                <option value="">Tất cả</option>
                                @foreach (var item in ViewBag.ChucvuList)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" style="font-size: 16px;font-weight: bold;color: #333">Tìm theo chương trình đào tạo</label>
                            <select class="form-control" id="FilterCTDT">
                                <option value="">Tất cả</option>
                                @foreach (var item in ViewBag.CtdtList)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" style="font-size: 16px;font-weight: bold;color: #333">Tìm theo năm hoạt động</label>
                            <select class="form-control" id="FilterNam">
                                <option value="">Tất cả</option>
                                @foreach (var item in ViewBag.Year)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" style="font-size: 16px;font-weight: bold;color: #333">Tìm theo trạng thái</label>
                            <select class="form-control" id="Fitertrangthai">
                                <option value="-1">Tất cả</option>
                                <option value="0">Đang đóng</option>
                                <option value="1">Đang mở</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12 d-flex justify-content-end">
                            <button type="button" class="btn btn-info" id="btnFilter" style="margin-top: 10px;">Tìm kiếm</button>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12 d-flex">
                            <button class="btn btn-primary m-r-5" data-toggle="modal" data-target="#bd-example-modal-lg">Thêm mới</button>
                            <button class="btn btn-success m-r-5" data-toggle="modal" data-target="#importExcelModal">Import từ Excel</button>
                        </div>
                    </div>
                </fieldset>

            </div>

            <!-- Modal Import Excel -->
            <div class="modal fade" id="importExcelModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Import tài khoản từ Excel</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <i class="anticon anticon-close"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="importExcelForm" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="excelFile">Chọn file Excel</label>
                                    <input type="file" class="form-control" id="excelFile" name="excelFile" accept=".xlsx, .xls">
                                </div>
                                <button type="submit" class="btn btn-success btn-tone m-r-5">Upload</button>
                                <a href="~/DataExport/Mau/MauUploadCBVC.xlsx" download>
                                    <button type="button" class="btn btn-info btn-tone m-r-5">Tải file mẫu</button>
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal Import Excel -->
            <!--Modal Thêm mới Khoa-->
            <div class="modal fade" id="bd-example-modal-lg">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title h4">Thêm mới Khoa</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <i class="anticon anticon-close"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="form-validation">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">Tên Khoa *</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="ten_khoa" id="ten_khoa" placeholder="Nhập tên Khoa ... *">
                                    </div>
                                </div>
                            </form>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger btn-tone m-r-5" data-dismiss="modal">Thoát</button>
                                <button type="button" class="btn btn-success btn-tone m-r-5" id="btnSave">Lưu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Modal Thêm mới Khoa-->
            <div class="m-t-25">
                <div class="table-responsive">
                    <table class="table table-bordered" id="cbvcTable">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">ID CBVC</th>
                                <th scope="col">Mã CBVC</th>
                                <th scope="col">Tên CBVC</th>
                                <th scope="col">Ngày sinh</th>
                                <th scope="col">Email</th>
                                <th scope="col">Đơn vị</th>
                                <th scope="col">Chức vụ</th>
                                <th scope="col">Chương trình đào tạo</th>
                                <th scope="col">Hiển thị</th>
                                <th scope="col">Năm hoạt động</th>
                                <th scope="col">Chức năng</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scriptsAdmin{
    <script src="~/Areas/Admin/Scripts/ChucNangNguoiDung/CanBoVienChuc.js"></script>
}

