
@{
    ViewBag.Title = "Kết quả khảo sát theo yêu cầu - TDMU";
    Layout = "~/Areas/CTDT/Views/Shared/_CTDTLayout.cshtml";
}

<div class="main-content">
    <div class="card">
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Kết quả khảo sát</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="checkdoituong-tab" data-toggle="tab" href="#checkdoituong" role="tab" aria-controls="checkdoituong" aria-selected="true">Chọn đáp viên thống kê</a>
                </li>
            </ul>
            <div class="tab-content m-t-15" id="myTabContent">
                <!-- Thống kê kết quả khảo sát -->
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="page-header no-gutters">
                        <h2 class="text-uppercase">Kết quả khảo sát theo yêu cầu</h2>
                        <hr />
                        <fieldset class="border rounded-3 p-3">
                            <legend class="float-none w-auto px-3">Chức năng</legend>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label class="form-label" style="font-size: 16px;font-weight: bold;color: #333">Chọn năm</label>
                                    <select class="form-control select2" id="yearGiamSat">
                                        @foreach (var item in ViewBag.Year)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label" style="font-size: 16px;font-weight: bold;color: #333">Chọn chương trình đào tạo</label>
                                    <select class="form-control select2" id="find-ctdt">
                                        @foreach (var item in ViewBag.CTDT)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label" style="font-size: 16px;font-weight: bold;color: #333">Chọn phiếu khảo sát</label>
                                    <select class="form-control select2" id="find-survey">
                                        <option value="">Vui lòng chọn năm và CTĐT để hiển thị</option>
                                        <!--data-->
                                    </select>
                                </div>
                            </div>
                            <a href="javascript:void(0)" id="dieu-huong-chon-dap-vien" style="font-size: 22px;">Bấm vào đây để chọn đáp viên thống kê</a>
                            <hr />
                            <div class="row">
                                <div class="col-12 d-flex justify-content-between">
                                    <button class="btn btn-primary" id="filterData">Lọc dữ liệu</button>
                                    <button class="btn btn-success" id="exportExcel">Xuất Excel</button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <!-- End Thống kê -->
            </div>
        </div>
    </div>
</div>

@section scriptsCTDT {
    <script src="@Url.Content("~/Areas/CTDT/Scripts/ThongKeKetQuaKhaoSatTheoYeuCau.js")"></script>
}
